@font-face {
  font-family: shoreline-font;
  src: url(assets/fonts/Shoreline.otf);
}

@font-face {
  font-family: frolic;
  src: url(assets/fonts/Frolic-Regular.otf);
}

:root {
  --main-font: frolic, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --main-color: #C1D0B5;
  --bolded-color: #b7c6ac;
  --second-color: #F8F6F4;
  --font-color: black;
  --third-color: rgb(230, 230, 220);
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: strech;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  font-family: var(--main-font);
}

#container {
  display: flex;
  flex-direction: row;
  height: 98%;
}

#img-container {
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#food {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#logo {
  position: absolute;
  object-fit: contain;
  width: 150px;
  opacity: 1;
  border-radius: 10px;
  padding: 10px;
  border: 3px solid var(--main-color);
}

#logo-container {
  align-self: center;
  position: absolute;
  width: 100%;
  height: 20%;
  background: var(--second-color);
  opacity: 0.8;

  text-align: center;
  font-size: 1.2em;
  font-family: roboto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 60%;
  color: var(--font-color);
  background-color: var(--third-color);
}

h1 {
  margin: 20px;
  color: var(--font-color);
}

.text-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 20%;
  margin: 20px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

#cornell-logo {
  height: 100%;
  border-radius: 100%;
  background-color: rgb(150, 150, 150);
  padding: 2px;
  border: 1px solid var(--main-color);
}

#input-container,
#output-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: var(--second-color);
  color: var(--font-color);

}

#interact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--second-color);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 15px;
  margin: 20px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-size: 0.8em;
  color: var(--font-color);
  font-weight: bold;
  border-color: var(--font-color);
  border-radius: 1px;
}

input,
.output {
  height: 50px;
  width: 150px;
  border: 2px solid black;
  border-radius: 4px;
}

input:hover {
  box-shadow: 1px 1px 5px grey;
  border-color: aliceblue;
  border-radius: 2px;
}

button {
  padding: 8px 16px;
  color: var(--font-color);
  border: 3px solid var(--font-color);
  border-radius: 10px;
  background: var(--second-color);
  font-size: 20px;
  font-family: var(--main-font);
  cursor: pointer;
  margin: 20px;
  transition: 0.8s;
}

button:hover {
  padding: 12 22px;
  font-size: 24px;
  color: var(--bolded-color);
}

p {
  color: var(--font-color);
  margin: 0px 20px;

}